body {
    background-image: url("basketball.jpg");
    background-size: 1200px;
    color: white;
    font-family: 'Graduate', cursive;
    opacity: 50%;
}

button {
    margin: 10px;
    border: slategrey;
    border-width: 2px;
    border-style: groove;
}

.play {
    margin: 20px;
    padding: 15px;
    background: rgb(0, 0, 0);
    font-size: 50px;
    display:inline-block;
    color: silver;
}

.jumbotron {
    margin: 0 auto;
    margin-top: 8%;
    margin-bottom: 20px; 
    background: white;
    color: rgb(0, 0, 0);
    width: 85%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 4px;
    border-style: groove;
    border-color: white;
    text-align: center;
}

.lead {
    font-size: 32px;
}

#answers{
    width: 50%;
    margin: 10px;
    font-size: 24px;
    background: white;
    color: black;
    padding: 10px;
    display:inline-block;
    border-width: 3px;
    border-style: groove;
    border-color: white;
}

#logo {
    width: 450px;
    height: 280px;
}

#question {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-size: 36px;
} 

#scoreBox, #result {
    margin: 10px;
    font-size: 24px;
    background: white;
    color: black;
    padding: 10px;
    display:inline-block;
    border-width: 3px;
    border-style: groove;
    border-color: white;
}

#game, #resultBox {
    display: none;
}

#timer {
    margin: 10px;
    font-size: 48px;
    background: rgb(0, 0, 0);
    color: rgb(175, 16, 16);
    padding: 10px;
    display:inline-block;
    border-width: 3px;
    border-style: groove;
    border-color: silver;
}

.play:hover { 
    background-color: silver;
    color: rgb(0, 0, 0);
}

.answer-btn:hover { 
    background-color: silver;
    color: rgb(0, 0, 0);
}